.u-center {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.u-x-center {
    display: flex;
    justify-content: center;
}

.u-y-center {
    display: flex;
    align-items: center;
}

.u-center-inline {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.u-fill {
    width: 100%;
    height: 100%;
}

.u-x-fill { width: 100%; }
.u-y-fill { height: 100%; }

.u-align-center { text-align: center; }
.u-align-left { text-align: left; }
.u-align-right { text-align: right; }
.u-align-space-between { justify-content: space-between !important; }

.u-wrapper {
    display: flex;
}

.u-hidden {
    visibility: hidden;
}

.u-none {
    display: none;
}
