
// font related
$font-stack: 'Open Sans', sans-serif;
$primary-text-color: #38362b;

/// card

// border colors
$card-border-color: rgba(151, 151, 151, 0.25);
$card-title-color: #d2d1cf;

// icons
$delete-icon-fill-color: #fd5a5a;
$edit-icon-fill-color: #5b4ca8;

// delete warning stripes
$warning-stripes-color: #ffe8e8;
$warning-title-color: #38362b;

// new intent
$new-intent-title-color: #d6d6d6;
